@import url('timeline.css');

body {
  width: 100vw;
}

#background {
  background-color: #0f172a;
}

.container {
  color: #E1E8F0;
  height: 100%;
  border: 1px solid blue;
}

.contact-list {
  list-style: none;
  margin-bottom: 8px;
}

.contact-link {
  color: #E1E8F0;
}

/*==================== Delete Later ====================*/
.layout1 {
  border: 1px solid beige;
}

.layout2 {
  border: 1px solid beige;
}
